<include file="Common/header" />
<style type="text/css">
.single-cat{
  margin: 10px;

}
#edit-cat{
  width: 750px;
}
</style>
 <div id="edit-cat" class="modal hide fade">
  <div class="modal-header">
    <h4>{$Think.Lang.history_version}</h4>
  </div>
  <table class="table table-hover">
    <TR>
      <td>{$Think.Lang.update_time}</td>
      <td>{$Think.Lang.update_by_who}</td>
      <td>{$Think.Lang.page_comments}</td>
      <td>{$Think.Lang.operation}</td>
    </TR>
    <if condition="$PageHistory">
      <foreach name="PageHistory" item="value">
      <TR>
        <td>{$value.addtime}</td>
        <td>{$value.author_username}</td>
        <td>{$value.page_comments}</td>
        <td> <a href="?s=home/page/diff&page_id={$page_id}&page_history_id={$value.page_history_id}" target="_blank">{$Think.Lang.overview}</a> | <a href="?s=home/page/edit&page_id={$page_id}&page_history_id={$value.page_history_id}">{$Think.Lang.recover_to_this_version}</a></td>
      </TR>

      </foreach>
    </if>
  </table>

    <div class="modal-footer">
      <a href="?s=home/page/edit&page_id={$page_id}" class="btn exist-cat">{$Think.Lang.close}</a>
      <a href="?s=home/page/edit&page_id={$page_id}" class="btn btn-primary exist-cat">{$Think.Lang.finish}</a>
    </div>
 </div>
<input type="hidden" id="page_id" value="{$page_id}">
 <include file="Common/footer" />
 <script type="text/javascript">
 $(function(){
   $('#edit-cat').modal();
 })

 </script>