<include file="Common/header" />
<link href="__PUBLIC__/highlight/default.min.css" rel="stylesheet"> 
<link href="__PUBLIC__/lightbox/css/lightbox.css?v=1.1234567" rel="stylesheet"> 

<style type="text/css">
body{
    background: #F1F0F1;
    height: auto;
    overflow: auto;
    margin: 0 auto;
}

#page_md_content{
	
    padding: 11px 0 90px 0;
    overflow: hidden;
    font-size: 11pt;
    line-height: 1.7;
    color: #333;
}
#doc-body{
	background-color: #fff;
}

.doc-container {
    position: static;
    -webkit-box-shadow: 0px 1px 6px #ccc;
    -moz-box-shadow: 0px 1px 6px #ccc;
    -ms-box-shadow: 0px 1px 6px #ccc;
    -o-box-shadow: 0px 1px 6px #ccc;
    box-shadow: 0px 1px 6px #ccc;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
    width: 800px;
    min-height: 500px;
}

#header{
	height: 80px;
}

#doc-body{
	width: 600px;
  margin: 0 auto;
}

.doc-title-box{
    height: auto;
    margin: 30px 100px 10px 100px;
    width: auto;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}
#footer{
	  margin: 0 auto;
    width: 180px;
    font-size: 8px;
    color: #959595;
}
	
pre ol{
  list-style: none;
}
	
.markdown-body pre {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.hljs{
  background-color: #f7f7f9;
}
</style>

<div id="header"></div>
<div class="container doc-container">
   <div class="doc-title-box">
    	<span id="doc-title-span" class="dn"></span>
    	<h3 id="doc-title">{$page.page_title}</h3>
  </div>
  <div id="doc-body" >

	<div id="page_md_content" ><textarea style="display:none;">{$page.page_md_content}</textarea></div>

  	</textarea>
  </div>

</div>
  <div id="footer">
    <if condition="! $login_user">
      <div id="copyright-text">本页面使用<a href="https://www.showdoc.cc/">showdoc</a>编写
    </if>
  </div>


 <include file="Common/footer" />
 <script src="__PUBLIC__/highlight/highlight.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/marked.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/prettify.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/flowchart.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/raphael.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/underscore.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/sequence-diagram.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/jquery.flowchart.min.js"></script>
 <script src="__PUBLIC__/editor.md/editormd.min.js"></script>
 <script src="__PUBLIC__/js/jquery.goup.min.js"></script>
 <script src="__PUBLIC__/lightbox/js/lightbox.js?a=abc"></script>

<script src="__PUBLIC__/js/page/index.js?a=ab"></script>
<script type="text/javascript">
$(function(){
    //增加返回顶部按钮
    $.goup({
          trigger: 100,
          bottomOffset: 150,
          locationOffset: 100,
          title: lang["back_to_top"] ,
          titleAsText: true,
          containerColor:"#08c",
      });

    if( isMobile() || $(window).width() < 1000){
          AdaptToMobile();
      }

    $(window).resize(function(){
      if( isMobile()){
          AdaptToMobile();
      }

      else if($(window).width() < 1000){
          AdaptToMobile();
      }else{
        window.location.reload();
      }
    });

});


  function AdaptToMobile(){
    $(".doc-container").css("width","90%");
    $("#doc-body").css("width","90%");
    $("#header").css("height","20px");
    $(".doc-title-box").css("margin","20px 20px 0px 20px");
    $("#footer").css("font-size","11pt");

  }


</script>
