<include file="Common/header" />
<style type="text/css">
.single-cat{
  margin: 10px;

}
</style>
 <div id="edit-cat" class="modal hide fade">
  <!-- 编辑框 -->
  <div class="cat-edit">
      <div class="modal-header">
      <h4>{$Think.Lang.new_member}</h4>
      </div>
      <input type="hidden" id="item_id" value="{$item_id}">
      <div class="add-cat">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputEmail">{$Think.Lang.username}</label>
              <div class="controls">
                <input type="text" id="username" placeholder="{$Think.Lang.username}" value="">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" id="member_group_id">{$Think.Lang.member_group_id}
                </label>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn" id="save-cat">{$Think.Lang.save}</button>
              </div>
            </div>
          </form>

      </div>
    </div>
  <!-- 成员列表 -->
  <div class="cat-list">
    <div class="modal-header">
    <h4>{$Think.Lang.member_list}&nbsp;<small>（{$Think.Lang.click_to_delete}）</small></h4>
    </div>
    <div id="show-cat">

    <br>
    <br>
    </div>
  </div>

    <div class="modal-footer">
      <a href="#" class="btn exist-cat">{$Think.Lang.close}</a>
    </div>
 </div>

 <include file="Common/footer" />
<script src="__PUBLIC__/js/member/edit.js?v=12"></script>
