<include file="Common/header" />
<style type="text/css">
.single-cat{
  margin: 10px;

}
</style>
 <div id="edit-cat" class="modal hide fade">
  <!-- 编辑框 -->
  <div class="cat-edit">
      <div class="modal-header">
      <h4>新增成员</h4>
      </div>
      <input type="hidden" id="item_id" value="{$item_id}">
      <div class="add-cat">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputEmail">用户名</label>
              <div class="controls">
                <input type="text" id="username" placeholder="用户名" value="">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn" id="save-cat">保存</button>
              </div>
            </div>
          </form>

      </div>
    </div>
  <!-- 成员列表 -->
  <div class="cat-list">
    <div class="modal-header">
    <h4>成员列表&nbsp;<small>（点击可删除）</small></h4>
    </div>
    <div id="show-cat">

    <br>
    <br>
    </div>
  </div>

    <div class="modal-footer">
      <a href="#" class="btn exist-cat">关闭</a>
    </div>
 </div>

 <include file="Common/footer" />
<script src="__PUBLIC__/js/member/edit.js"></script>
