root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
indent_size = 4

[*.{vue,js,ts,jsx,tsx}]
indent_size = 2

[*.{css,scss,less,html}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.json]
indent_size = 2
