<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico)
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>