<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/index.css" />

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <if condition="$login_user">
            <li ><a href="{:U('Home/Item/index')}">{$Think.Lang.my_item}</a></li>
            <else />
            <li ><a href="{:U('Home/User/login')}">{$Think.Lang.login_or_register}</a></li>
          </if>
          
        </ul>
        <h3 class="muted">ShowDoc</h3>
      </div>

      <hr>

		<div id="myCarousel" class="carousel slide">
		   <!-- 轮播（Carousel）指标 -->
		   <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		   </ol>   
		   <!-- 轮播（Carousel）项目 -->
		   <div class="carousel-inner">
		      <div class="item active">
		         <img src="__PUBLIC__/img/pic1.jpg" alt="First slide">
		      </div>
		      <div class="item">
		         <img src="__PUBLIC__/img/pic2.jpg" alt="Second slide">
		      </div>
 		      <div class="item">
		         <img src="__PUBLIC__/img/pic3.jpg" alt="Third slide">
		      </div>
		   </div>
		   <!-- 轮播（Carousel）导航 -->
		   <a class="carousel-control left" href="#myCarousel" 
		      data-slide="prev">&lsaquo;</a>
		   <a class="carousel-control right" href="#myCarousel" 
		      data-slide="next">&rsaquo;</a>
		</div>
		<p class="text-center">
			<a class="btn btn-primary  btn-large" href="{$demo_url}" target="_blank">Demo</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="btn  btn-large" href="{$help_url}" target="_blank" >{$Think.Lang.help}&nbsp;<i class="icon-circle-arrow-right"></i></a>
		</p>

      <hr>


      <div class="footer">
        <p>&copy; Created By <a href="{$creator_url}" target="_blank">Star7th</a></p>
      </div>

    </div> <!-- /container -->


 <include file="Common/footer" />
 <script type="text/javascript">

    $("#myCarousel").carousel('cycle');

 </script>