
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
<title>ShowDoc</title>
 <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">

 <link rel="stylesheet" href="__PUBLIC__/css/jquery.fullPage.css">
 <style>
.section { text-align: center; font: 30px "Microsoft Yahei"; color: #fff;}
.header{
 padding-right: 100px;
 padding-top: 30px;
 font-size: 18px; 
 position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
.header a {
    color: white;
    font-size: 12px;
    font-weight: bold;
}
</style>
</head>

<body>
<div class="row header  ">
  <div class="right pull-right">
    <ul class="inline pull-right">
	  <if condition="$login_user">
	    <li ><a href="{:U('Home/Item/index')}">{$Think.lang.my_item}</a></li>
	    <else />
	    <li ><a href="{:U('Home/User/login')}">{$Think.lang.index_login_or_register}</a></li>
	  </if>
    </ul>
    </div>  
  </div>

<div id="dowebok">
    <div class="section">
        <div class="slide">
            <img src="__PUBLIC__/logo/b_64.png" alt="">
            <h1>{$Think.lang.section_title1}</h1>
            <br>
            <p>{$Think.lang.section_description1}</p>
            <br>
            <p>
                <a class="btn   btn-large " href="{$demo_url}" target="_blank">{$Think.lang.demo}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn  btn-large" href="{$help_url}" target="_blank" >{$Think.lang.help}&nbsp;</i></a>
            </p>
        </div>
        <div class="slide">
            <h1>{$Think.lang.section_title2}</h1>
            <br>
            <p> {$Think.lang.section_description2}</p>
            <br>
        </div>
        <div class="slide">
            <h1>{$Think.lang.section_title3}</h1>
            <br>
            <p>{$Think.lang.section_description3}</p>
            <br>
        </div>
        <div class="slide">
            <h1>{$Think.lang.section_title4}</h1>
            <br>
            <p>{$Think.lang.section_description4}</p>
            <br>
        </div>

        <div class="slide">
            <h1>{$Think.lang.section_title5}</h1>
            <br>
            <p>{$Think.lang.section_description5}</p>
            <br>
        </div>

        <div class="slide">
            <h1>{$Think.lang.section_title6}</h1>
            <br>
            <p>{$Think.lang.section_description6}</p>
            <br>
        </div>

        <div class="slide">
            <h1>{$Think.lang.section_title7}</h1>
            <br>
            <p>{$Think.lang.section_description7}</p>
            <br>
        </div>
        <div class="slide">
            <h1></h1>
            <br>
            <p>{$Think.lang.section_description8}</p>
            <br>
            <p>
                <a class="btn   btn-large " href="{:U('Home/User/register')}">{$Think.lang.section_title8}</a>
            </p>
        </div>
    </div>
</div>
 <include file="Common/footer" />
<script src="__PUBLIC__/js/jquery.fullPage.min.js"></script>
<script>
$(function(){
    $('#dowebok').fullpage({
        sectionsColor : ['#1bbc9b', '#4BBFC3', '#2C606A', '#f90','#7CBD9D','#A77DC2','#85CE92','#1bbc9b'],
        navigation:false,
    });

    $(window).resize(function(){
        autoScrolling();
    });

    function autoScrolling(){
        var $ww = $(window).width();
        if($ww < 1024){
            $.fn.fullpage.setAutoScrolling(false);
        } else {
            $.fn.fullpage.setAutoScrolling(true);
        }
    }

    autoScrolling();
});
</script>
</body>
</html>