<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/login.css" />

    <div class="container">

      <form class="form-signin" method="post">
        <input type="hidden" id="item_id" name="item_id" value="{$item.item_id}">
        <!-- <h3 class="form-signin-heading">新建项目</h3> -->
        <input type="text" class="input-block-level"  name="item_name" placeholder="{$Think.Lang.item_name}" autocomplete="off" value="{$item.item_name}" >
        <input type="text" class="input-block-level"  name="item_description" placeholder="{$Think.Lang.item_description}" autocomplete="off" value="{$item.item_description}">
<!--         <input type="text" class="input-block-level"  name="item_domain" placeholder="{$Think.Lang.item_domain}" autocomplete="off" value="{$item.item_domain}" >
 -->        <input style="display:none"><!-- for disable autocomplete on chrome -->
        <input style="display:none"><!-- for disable autocomplete on chrome -->
        <input type="text" onfocus="this.type='password'" id="password" class="input-block-level" name="password" placeholder="{$Think.Lang.visit_password_placeholder}" title="{$Think.Lang.visit_password_placeholder}" autocomplete="off" value="{$item.password}">
        <button class="btn  btn-primary" type="submit">{$Think.Lang.submit}</button>
        <a href="javascript:history.go(-1)" class="btn">{$Think.Lang.goback}</a>
      </form>

    </div> <!-- /container -->


 <include file="Common/footer" />
 <script type="text/javascript">
 var password = $("#password").val();
 if (password) {
    $("#password").val('');
    $("#password").attr('type','password');
    $("#password").val('password');  
 };


 </script>
