<include file="Common/header" />
<style type="text/css">
.single-cat{
  margin: 10px;
}
</style>
 <div id="edit-cat" class="modal hide fade">
  <!-- 编辑框 -->
  <div class="cat-edit">
      <div class="modal-header">
      <h4>{$Think.Lang.delete_item}</h4>
      </div>
      <input type="hidden" id="item_id" value="{$item_id}">
      <div class="add-cat">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputEmail">{$Think.Lang.verify_your_identity}</label>
              <div class="controls">
                <input type="password" id="password" placeholder="{$Think.Lang.creator_password}" value="">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn" id="save-cat">{$Think.Lang.delete}</button>
              </div>
            </div>
          </form>

      </div>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn exist-cat">{$Think.Lang.close}</a>
    </div>
 </div>

 <include file="Common/footer" />
 <script src="__PUBLIC__/js/item/delete.js?v=dd"></script>