<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/item/index.css?v=1.234" />
    <div class="container-narrow">

      <div class="masthead">
        <div class="btn-group pull-right">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
        {$Think.Lang.more}
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <!-- dropdown menu links -->
          <li><a href="{:U('Home/User/setting')}">{$Think.Lang.personal_setting}</a></li>
<!--           <li><a href="#share-home-modal"  data-toggle="modal">{$Think.Lang.share_home}</a></li>
 -->          <li><a href="https://github.com/star7th/showdoc/issues" target="_blank">{$Think.Lang.feedback}</a></li>
          <li><a href="{:U('Home/index/index')}">{$Think.Lang.web_home}</a></li>
          <li><a href="{:U('Home/User/exist')}">{$Think.Lang.logout}</a></li>

        </ul>
        </div>

        </ul>
        <h3 class="muted"><img src="__PUBLIC__/logo/b_64.png" style="width:50px;height:50px;margin-bottom:15px;" alt="">ShowDoc</h3>
      </div>

      <hr>

    <div class="container-thumbnails">
      <ul class="thumbnails">

        <foreach name="items" item="item">
          <li class="span3 text-center">
            <a class="thumbnail item-thumbnail" href="{:U('Home/Item/show',array('item_id'=>$item['item_id']))}" title="{$item.item_description}">
              <span class="item-setting" data-src="{:U('/home/item/setting',array('item_id'=>$item[item_id]))}"  title="项目设置">
                <i class="icon-wrench" ></i>
              </span>

              <if condition="$item['top']">
                  <span class="item-top" data-action="cancel" data-item_id="{$item.item_id}" title="取消置顶"><i class="icon-arrow-down" ></i></span>
              <else />
                  <span class="item-top" data-action="top" data-item_id="{$item.item_id}" title="置顶项目"><i class="icon-arrow-up"  ></i></span>
              </if>
              <p class="my-item">{$item.item_name}</p>
            </a>
          </li>     
        </foreach>

        <li class="span3 text-center">
          <a class="thumbnail " href="{:U('Home/Item/add')}" title="{$Think.Lang.add_an_item}添加一个新项目">
            <p class="my-item ">{$Think.Lang.new_item}&nbsp;<i class="icon-plus"></i></p>
          </a>
        </li>
      </ul>
    </div>


    </div> <!-- /container -->

<!-- 分享项目框 -->
<div class="modal hide fade" id="share-home-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{$Think.Lang.share_my_home}</h3>
  </div>
  <div class="modal-body">
    <p>{$Think.Lang.home_address}：<code id="share-home-link">{$share_url}</code></p>
    <p>{$Think.Lang.home_address_description}</p>
  </div>
</div>


 <include file="Common/footer" />
 <script src="__PUBLIC__/js/item/index.js?v=1"></script>