<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/item/index.css?v=1.234" />
    <div class="container-narrow">

      <div class="masthead">
        <div class="btn-group pull-right">
        <a class="btn btn-link" href="https://github.com/star7th/showdoc/issues" target="_blank">{$Think.Lang.feedback}</a>
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
        {$Think.Lang.more}
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <!-- dropdown menu links -->
          <li><a href="{:U('Home/User/setting')}">{$Think.Lang.personal_setting}</a></li>
<!--           <li><a href="#share-home-modal"  data-toggle="modal">{$Think.Lang.share_home}</a></li>
 -->      
          <li><a href="{:U('Home/index/index')}">{$Think.Lang.web_home}</a></li>
          <li><a href="{:U('Home/User/exist')}">{$Think.Lang.logout}</a></li>

        </ul>
        </div>

        </ul>
        <h3 class="muted"><img src="__PUBLIC__/logo/b_64.png" style="width:50px;height:50px;margin-bottom:15px;" alt="">ShowDoc</h3>
      </div>

      <hr>

    <div class="container-thumbnails">
      <ul class="thumbnails" id="item-list">

      </ul>
    </div>


    </div> <!-- /container -->

<!-- 分享项目框 -->
<div class="modal hide fade" id="share-home-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{$Think.Lang.share_my_home}</h3>
  </div>
  <div class="modal-body">
    <p>{$Think.Lang.home_address}：<code id="share-home-link">{$share_url}</code></p>
    <p>{$Think.Lang.home_address_description}</p>
  </div>
</div>


 <include file="Common/footer" />
 <script src="__PUBLIC__/js/item/index.js?v=12"></script>
