<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/item/show.css?1.1d.1thdddef" />


<div class="doc-head row" >
  <div class="left "><h2>{$item.item_name}</h2></div>
  <div class="right">
    <ul class="inline pull-right">

      <if condition="$ItemPermn">
      <li>
          <div class="btn-group ">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
              {$Think.Lang.item}
              <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
          <!-- dropdown menu links -->
            <li><a href="#" id="share">{$Think.Lang.share}</a></li>
             <li><a href="{:U('Home/Item/word',array('item_id'=>$item['item_id']))}">{$Think.Lang.export}</a></li>

             <if condition="$ItemCreator">
              <li><a href="{:U('Home/Item/add',array('item_id'=>$item['item_id']))}">{$Think.Lang.update_info}</a></li>          
              <li><a href="{:U('Home/Member/edit',array('item_id'=>$item['item_id']))}">{$Think.Lang.manage_members}</a></li>
              <li><a href="{:U('Home/Attorn/index',array('item_id'=>$item['item_id']))}">{$Think.Lang.attorn}</a></li>
              <li><a href="{:U('Home/Item/delete',array('item_id'=>$item['item_id']))}">{$Think.Lang.delete}</a></li>
            </if>

            <li><a href="{:U('Home/Item/index')}">{$Think.Lang.goback}</a></li>
          </ul>
      </li>
      <else />

      <if condition="! $login_user">
        <li ><a href="{:U('Home/User/login')}">{$Think.Lang.login_or_register}</a></li>
        <li ><a href="{$help_url}" target="_blank">{$Think.Lang.about_showdoc}</a></li>
        <else />
        <li><a href="{:U('Home/Item/index')}">{$Think.Lang.my_item}</a></li>
      </if>

        
      </if>

    </ul>
    </div>  
  </div>
</div>

<div class="doc-body row">
  <!-- 左侧栏菜单 -->
    <div class="doc-left span3 bs-docs-sidebar pull-left">
        <form class="form-search text-center" action="{:U('Home/item/show',array('item_id'=>$item['item_id']))}" method="post">
          <div class="input-append search-input-append">
            <i class="icon-blank"></i>
            <input type="text" name="keyword" class="search-query search-query-input" value="{$keyword}">
            <input type="hidden" name="item_id" value="{$item.item_id}">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
          </div>
        </form>

      <ul class="nav nav-list bs-docs-sidenav">

        <!-- 一级目录的页面在前面 -->
        <foreach name="pages" item="page">
          <li ><a href="{:U('Home/Page/index',array('page_id'=>$page['page_id']))}" data-page-id="{$page.page_id}" ><i class="icon-blank"></i>{$page.page_title}</a></li>
        </foreach>

        <foreach name="catalogs" item="catalog">

        
          <li><a href="#"><i class="icon-chevron-right"></i>{$catalog.cat_name}</a>
            <ul class="child-ul nav-list hide">
              <!-- 二级目录的页面们 -->
              <foreach name="catalog.pages" item="catalog_page">
                <li><a href="{:U('Home/Page/index',array('page_id'=>$catalog_page['page_id']))}" data-page-id="{$catalog_page.page_id}" >{$catalog_page.page_title}</a></li>
              </foreach>
              <!-- 二级目录的子目录们（三级目录） -->
                <foreach name="catalog.catalogs" item="catalog3">   
                  <li class="third-child-catalog"><a href="#"><i class="icon-chevron-right"></i>{$catalog3.cat_name}</a>
                    <ul class="child-ul nav-list hide">
                      <!-- 二级目录的页面们 -->
                      <foreach name="catalog3.pages" item="catalog3_page">
                        <li><a href="{:U('Home/Page/index',array('page_id'=>$catalog3_page['page_id']))}" data-page-id="{$catalog3_page.page_id}" >{$catalog3_page.page_title}</a></li>
                      </foreach>
                    </ul>
                  </li>

                </foreach>

            </ul>
          </li>

        </foreach>

      </ul>
      <!-- 新建栏 -->
      <div class="doc-left-newbar">

        <if condition="$ItemPermn">
          <div><a href="{:U('Home/Page/edit',array('item_id'=>$item['item_id'],'type'=>'new'))}" id="new-like"><i class="icon-plus"></i>&nbsp;{$Think.Lang.new_page}</a></div>
          <div><a href="{:U('Home/Catalog/edit',array('item_id'=>$item['item_id']))}" id="dir-like" ><i class="icon-folder-open"></i>{$Think.Lang.new_catalog}</a></div>

        </if>

      </div>

      <input type="hidden" id="item_id" value="{$item.item_id}">
      <input type="hidden" id="item_domain" value="{$item.item_domain}">
      <input type="hidden" id="current_page_id" value="{$current_page_id}">
      <input type="hidden" id="base_url" value="__APP__">


    </div>
    <div class="doc-right  span12 ">
      <!-- 编辑栏 -->
      <div class='page-edit-link pull-right hide'>
        <ul class="inline">
          <if condition="$ItemPermn">
            <li><a href="" id="share-page" title="{$Think.Lang.share_address_to_your_friends}">{$Think.Lang.share}</a></li>
            <li><a href="" id="copy-link" title="{$Think.Lang.copy_interface_to_new}">{$Think.Lang.copy}</a></li>
            <li><a href="" id="edit-link" title="{$Think.Lang.edit_interface}">{$Think.Lang.edit}</a></li>
            <li><a href="" title="{$Think.Lang.delete_interface}" onclick="return confirm('{$Think.Lang.comfirm_delete}');return false;" id="delete-link">{$Think.Lang.delete}</a></li>
          <else />
            <li></li>
            <li></li>
        </if>
        </ul>
      </div>
      <!-- 页面内容 -->
      <div class='iframe_content'>
        <iframe id="page-content" width="100%" scrolling="yes"  height="100%" frameborder="0" style=" overflow:visible; height:100%;" name="main"  seamless ="seamless"src=""></iframe>
      </div>

    </div>

<include file="Common/footer" />
<!-- 分享项目框 -->
<div class="modal hide fade" id="share-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{$Think.Lang.share}</h3>
  </div>
  <div class="modal-body">
  <div class="modal-body" style="text-align: center;">
    <p>{$Think.Lang.item_address}：<code id="share-item-link">{$share_url}</code>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="copy-item-link">复制链接</a>
  </p>
    <p style="border-bottom: 1px solid #eee;"><img  alt="二维码" style="width:114px;height:114px;" src="?s=home/common/qrcode&size=3&url={$share_url}"> </p>
  </div>

  </div>
</div>

<!-- 分享页面框 -->
<div class="modal hide fade" id="share-page-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{$Think.Lang.share_page}</h3>
  </div>
  <div class="modal-body" style="text-align: center;">
    <p>项目页面地址：<code id="share-page-link"></code>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="copy-page-link">复制链接</a>
  </p>
      <p style="border-bottom: 1px solid #eee;"><img  alt="二维码" id="qr-page-link" style="width:114px;height:114px;" src="?s=home/common/qrcode&size=3&url="> </p>
      
    <p >单页面地址：<code id="share-single-link"></code>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="copy-single-link">复制链接</a>
    </p>
      <p style="border-bottom: 1px solid #eee;"><img  alt="二维码" id="qr-single-link" style="width:114px;height:114px;" src="?s=home/common/qrcode&size=3&url="> </p>
   <p><a href="https://www.showdoc.cc/page/63882" target="_blank">项目页面地址和单页面地址有什么区别？</a></p><p>
    </p>
  </div>
</div>
<script src="__PUBLIC__/js/jquery.bootstrap-growl.min.js"></script>
<script src="__PUBLIC__/js/jquery.goup.min.js"></script>
<script src="__PUBLIC__/js/jquery.hotkeys.js"></script>
<script src="__PUBLIC__/jquery.zclip/jquery.zclip.js"></script>

<script src="__PUBLIC__/js/item/show.js?v=1.2121"></script>
