<include file="Common/header" />
<link href="__PUBLIC__/highlight/default.min.css" rel="stylesheet"> 
<link href="__PUBLIC__/lightbox/css/lightbox.css?v=1.1234567" rel="stylesheet"> 
<link rel="stylesheet" href="__PUBLIC__/css/item/show_single_page.css?v=2" />

<div id="header">

</div>
<div class="container doc-container">
   <div class="doc-title-box">
      <span id="doc-title-span" class="dn"></span>
      <h3 id="doc-title">{$page.page_title}</h3>
      <ul class="tool-bar inline pull-right">
        <li><a href="#" id="share">分享</a></li> 
        <if condition="$ItemPermn">

            <if condition="!$item['is_archived']">
                <li><a href="?s=/home/page/edit/page_id/{$page.page_id}">编辑</a></li>
              </if>
        <li>
            <div class="btn-group ">
              <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
                {$Think.Lang.item}
                <span class="caret"></span>
              </a>
            <ul class="dropdown-menu">
            <!-- dropdown menu links -->
               <li><a href="{:U('Home/Item/export',array('item_id'=>$item['item_id']))}">{$Think.Lang.export}</a></li>
             <if condition="$ItemCreator">
                <li><a href="{:U('Home/Item/setting',array('item_id'=>$item['item_id']))}">项目设置</a></li>          
              </if>
              <li><a href="{:U('Home/Item/index')}" >{$Think.Lang.goback}</a></li>
            </ul>
        </li>
        <else />

          
        </if>

      </ul>

      

  </div>
  <div id="doc-body" >

  <div id="page_md_content" ><textarea style="display:none;">{$page.page_content}</textarea></div>

    </textarea>
  </div>

</div>
  <div id="footer">
    <if condition="! $login_user">
      <div id="copyright-text">本页面使用<a href="https://www.showdoc.cc/">showdoc</a>编写
    </if>
    </div>
  </div>

<!-- 分享项目框 -->
<div class="modal hide fade" id="share-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{$Think.Lang.share}</h3>
  </div>
  <div class="modal-body">
  <div class="modal-body" style="text-align: center;">
    <p>{$Think.Lang.item_address}：<code id="share-item-link">{$share_url}</code>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="copy-item-link">复制链接</a>
  </p>
    <p style="border-bottom: 1px solid #eee;"><img  alt="二维码" style="width:114px;height:114px;" src="?s=home/common/qrcode&size=3&url={$share_url}"> </p>
  </div>

  </div>
</div>
 <include file="Common/footer" />
 <script src="__PUBLIC__/highlight/highlight.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/marked.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/prettify.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/flowchart.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/raphael.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/underscore.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/sequence-diagram.min.js"></script>
 <script src="__PUBLIC__/editor.md/lib/jquery.flowchart.min.js"></script>
 <script src="__PUBLIC__/editor.md/editormd.min.js"></script>
 <script src="__PUBLIC__/js/jquery.goup.min.js"></script>
 <script src="__PUBLIC__/lightbox/js/lightbox.js?a=abc"></script>
<script src="__PUBLIC__/jquery.zclip/jquery.zclip.js"></script>
<script src="__PUBLIC__/js/jquery.bootstrap-growl.min.js"></script>
<script src="__PUBLIC__/js/item/show_single_page.js?a=ab"></script>
