<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/item/index.css" />
<style type="text/css">
  .container-thumbnails{
    margin-top: 60px;
  }
  .thumbnails li a{
    color: #888;
    font-weight: bold;
  }
  .thumbnails li a:hover,
  .thumbnails li a:focus{
    border-color:#f2f5e9;
    -webkit-box-shadow:none;
    box-shadow:none;
    text-decoration: none;
    background-color: #f2f5e9;
  }
</style>
    <div class="container-narrow">

      <div class="masthead">
        <div class="btn-group pull-right">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        {$Think.Lang.more}
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <!-- dropdown menu links -->
          <if condition="$login_user">
            <li><a href="{:U('Home/Item/Index')}">{$Think.Lang.my_item}</a></li>
            <else />
             <li><a href="{:U('Home/User/login')}">{$Think.Lang.login_or_register}</a></li> 
          </if>
          
          
          <li><a href="{$help_url}" target="_blank">{$Think.Lang.about_showdoc}</a></li>

        </ul>
        </div>

        </ul>
        <h3 class="muted">{$show_user.username}{$Think.Lang.all_pubilc_item}</h3>
      </div>

      <hr>

    <div class="container-thumbnails">
      <ul class="thumbnails">

        <foreach name="items" item="item">
          <li class="span3 text-center">
            <a class="thumbnail" href="{:U('Home/Item/show',array('item_id'=>$item['item_id']))}" target="_blank" title="{$item.item_description}">
              <p class="my-item">{$item.item_name}</p>
            </a>
          </li>     
        </foreach>


      </ul>
    </div>


    </div> <!-- /container -->


 <include file="Common/footer" />
 <script type="text/javascript">


 </script>