@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=AE8A55CE-A316-4397-8FBE-CAA3279B1E01

registry=https://registry.npmmirror.com
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
openssl_fips=''