/* 一些基本颜色 */
$--color-primary: #343a40;
$--color-success: #28a745;
$--color-danger: #dc3545;
$--color-warning: #ffc107;
$--background-color-base: #f9f9f9;
$--color-white: #ffffff;
$--color-black: #000000;
$--link-color: #007bff;
$--link-hover-color: mix($--color-white, $--link-color, 20%);

$--font-size-base :13px ;
$--size-base:13px ;

// 对话框
$--dialog-background-color:$--background-color-base ;
$--dialog-content-font-size: 13px;

$--table-row-hover-background-color:$--color-white ;
$--table-header-background-color:$--background-color-base ;
$--button-font-size: 13px ;

$--checkbox-font-size:13px ;
$--select-input-font-size:13px ;



/* 改变 icon 字体路径变量，一定要写，不然错误 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';

/*
  下面将写一些原生css，以覆盖element-ui的一些设定。之所以写原生css而不是改变变量，是因为这些样式没有做成变量的形式
*/

// 按钮为文本的时候，修改其默认颜色
.el-button--text {
  color: $--link-color ;
}
.el-button--text:hover {
  color: $--link-hover-color ;
}

// 表格相关
.el-table , .el-table__expanded-cell {
  background-color:$--background-color-base ;
  font-size: 13px;
}
.el-table th, .el-table tr, .el-table td {
  background-color:$--background-color-base ;
}

// 对话框
.el-dialog__header{
  padding-top: 10px;
  padding-bottom: 10px;
}
