<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/login.css" />

    <div class="container">

      <form class="form-signin myform" method="post" action="server/index.php?s=api/user/register">
        <h3 class="form-signin-heading">{$Think.Lang.register_new_account}</h3>
        <input type="text" class="input-block-level" name="username" placeholder="{$Think.Lang.username_description}">
        <input type="password" class="input-block-level" name="password"  placeholder="{$Think.Lang.password}">
        <input type="password" class="input-block-level" name="confirm_password"  placeholder="{$Think.Lang.password_again}">
        <if  condition="$CloseVerify != 1">
        <input type="text" class="input-block-level" autocomplete="off" name="v_code"  placeholder="{$Think.Lang.verification_code}">
        <div class="control-group">
          <div class="controls">
            <img src="#" id="v_code_img">
          </div>
        </div>
        </if>
        <button class="btn btn-large btn-primary" type="submit">{$Think.Lang.register}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="?s=/home/user/login">{$Think.Lang.had_a_account}</a>
      </form>

    </div> <!-- /container -->


<include file="Common/footer" />
<script src="__PUBLIC__/js/jquery.form.min.js"></script>
 <script type="text/javascript">
 $(function(){
    $("#v_code_img").attr("src" , DocConfig.pubile+'/verifyCode.php');
    $("#v_code_img").click(function(){
      var v_code_img = $("#v_code_img").attr("src");
      $("#v_code_img").attr('src' ,v_code_img+'?'+Date.parse(new Date()) );
    }); 

    //上传表单参数
    var ajax_option = {
      dataType:"json",
      beforeSubmit:function(){

      },
      success:function(res){
        if (res.error_code === 0) {
          window.location.href = "?s=/home/item/index";
        }else{
          $.alert(res.error_message);
          $("#v_code_img").click();
        }
      }
    };

    $('.myform').ajaxForm(ajax_option); 

 });

</script>
