<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/login.css" />

    <div class="container">

      <form class="form-signin" method="post">
        <h3 class="form-signin-heading">修改个人信息</h3>
        <input type="text" class="input-block-level" value="{$user.username}" disabled >
        <input type="password" class="input-block-level" name="new_password"  placeholder="新密码，若不修改请留空">
        <input type="password" class="input-block-level" name="password"  placeholder="原密码，若不修改密码请留空">
        <button class="btn  btn-primary" type="submit">提交</button>
        <a href="javascript:history.go(-1)" class="btn">返回</a>
      </form>

    </div> <!-- /container -->


 <include file="Common/footer" />

