<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/login.css" />

    <div class="container">

      <form class="form-signin" method="post">
        <h3 class="form-signin-heading">{$Think.Lang.update_personal_info}</h3>
        <input type="text" class="input-block-level" value="{$user.username}" disabled >
        <input type="password" class="input-block-level" name="new_password"  placeholder="{$Think.Lang.new_password_description}">
        <input type="password" class="input-block-level" name="password"  placeholder="{$Think.Lang.old_password_description}">
        <button class="btn  btn-primary" type="submit">{$Think.Lang.submit}</button>
        <a href="javascript:history.go(-1)" class="btn">{$Think.Lang.goback}</a>
      </form>

    </div> <!-- /container -->


 <include file="Common/footer" />

