body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}
.my-item{
  margin: 40px;
}
