<include file="Common/header" />
<style type="text/css">
.single-cat{
  margin: 5px;
}
.cat-list{
  max-height: 300px;
}
.cat-content,.second-cat-content,.third-cat-content{
     max-height: 95px;
     overflow-y: auto;
 }
</style>
 <div id="edit-cat" class="modal hide fade">
  <!-- 编辑框 -->
  <div class="cat-edit">
      <div class="modal-header">
      <h4>{$Think.Lang.new_or_edit_catalog}</h4>
      </div>
      <input type="hidden" id="item_id" value="{$item_id}">
      <input type="hidden" id="cat_id" value="{$Catalog.cat_id}">
      <div class="add-cat">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputEmail">{$Think.Lang.catalog_name}</label>
              <div class="controls">
                <input type="text" id="cat_name" placeholder="{$Think.Lang.catalog_name}" value="{$Catalog.cat_name}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">{$Think.Lang.s_number}</label>
              <div class="controls">
                <input type="text" id="s_number" placeholder="{$Think.Lang.s_number_explain}" value="{$Catalog.s_number}">
              </div>
            </div>
             <div class="control-group">
              <label class="control-label" for="inputPassword">{$Think.Lang.last_catalog}</label>
              <div class="controls">
                  <select name="parent_cat_id" id="parent_cat_id" ></select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button  class="btn" id="save-cat">{$Think.Lang.save}</button>
                <button  class="btn btn-link" id="delete-cat">{$Think.Lang.delete_catalog}</button>
              </div>
            </div>
          </form>

      </div>
    </div>
  <!-- 目录列表 -->
  <div class="cat-list">
    <div class="modal-header">
    <!-- <h4>{$Think.Lang.catalog_list}&nbsp;</h4> -->
    </div>

    <div style="margin-left:10px;">
      <h5>二级目录列表<small>({$Think.Lang.click_to_edit})</small></h5>
      <div id="show-second-cat"  class="second-cat-content">
      </div>
      <h5>三级目录列表<small>({$Think.Lang.click_to_edit})</small></h5>
      <div id="show-third-cat"  class="third-cat-content">
      </div>
    </div>


  </div>

    <div class="modal-footer">
      <a href="#" class="btn exist-cat">{$Think.Lang.close}</a>
    </div>
 </div>

<input type="hidden" id="default_parent_cat_id"  value="{$default_parent_cat_id}">
 <include file="Common/footer" />
 <script src="__PUBLIC__/js/catalog/edit.js?v=1.1.10thirde1"></script>