<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>{$item.item_name} ShowDoc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/showdoc.css" rel="stylesheet">
      <script type="text/javascript">
      var DocConfig = {
          host: window.location.origin,
          app: "{:U('/')}",
          server: "server/index.php?s=",
          pubile:"__PUBLIC__",
      }

      DocConfig.hostUrl = DocConfig.host + "/" + DocConfig.app;
      </script>
      <script src="__PUBLIC__/js/lang.{:LANG_SET}.js?v=212"></script>
  </head>
  <body>
