body {
  margin: 0;
  padding: 0;
}

.grey-bg {
  background-color: rgb(250, 250, 250);
}
#app {
  font: 13px/1.5 'Microsoft Yahei', 微软雅黑, Tahoma, Arial, Helvetica, STHeiti;
  color: #343A40;
}

a {
  color: #409eff;
  text-decoration: none;
}

.center-card {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

/* 水平居中的卡片 */
.hor-center-card {
  width: 700px;
  margin: 20px auto;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}

li {
  list-style-type: none;
}

.markdown-body ul li {
  list-style-type: disc;
}

.markdown-body ol li {
  list-style-type: decimal;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.block {
  display: block;
}

.el-message-box {
  max-width: 80vw;
}

.cursor-click {
  cursor: pointer;
}

/* 3.0开始，找设计师重定义UI ，这里根据新UI定义一些类，方便复用 */

.v3-font-size{
  font-size: 13px;
}
.v3-font-size-lg{
  font-size: 24px;
}
.v3-font-size-sm{
  font-size: 11px;
}
.v3-color-primary{
  /* 主要文本颜色 */
  color: #343A40;
}
.v3-color-aux{
  /* 辅助文本颜色 */
  color: #9B9B9B;
}
.v3-color-sec{
  /* 次要文本颜色 */
  color: rgba(0, 0, 0, 0.05);
}
.v3-bg-color-primary{
  color: #f9f9f9;
}
.v3-btn-primary{
  color: #343A40;
}
.v3-accent-color-blue{
  /* 如特别需要强调的按钮背景色、文字链 */
  color: #007BFF;
}
.v3-lg-btn{
  width: 160px;
  height: 50px;
  border-radius: 8px;
}
.v3-text-link{
  color: #9B9B9B;
  cursor: pointer;
  text-decoration:underline ;

}

.tips-text{
  /* 辅助文本颜色 */
  color: #9B9B9B;
  font-size: 11px;
  line-height: 1.5rem;

}